<footer>
  <div class="container">
    <div class="col-md-6 col-sm-6 footer-section">
      <h4 class="">Address</h4>
      <p><i class="fa fa-phone"></i> +251912345678</p>
      <p><i class="fa fa-phone-square"></i> +251912345678</p>
      <p><i class="fa fa-globe"></i> TECclub@gmail.com</p>
      
    </div>
    
    
    <div class="col-md-6 footer-section hidden-md">
      <h4 class=""></h4>
      <p><i class="fa fa-envelope"></i> 01453/3010 Bishoftu, Ethiopia</p>
      <p><i class="fa fa-map-marker"></i> Bishoftu,Defence University College of Engineering</p>
    </div>
  </div>
  <div class="clearfix"></div><hr>
  <p class="copyright text-center">Copyright © 2019 All Rights Reserved • TEC club</p>
</footer>

<script src="./js/jquery-3.2.1.min.js"></script>

    <script src="./js/umd/popper.min.js"></script>
    <script src="./b/js/bootstrap.min.js"></script>
  </body>
</html>
