<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TEC Club • Page Not Found</title>
    <link rel="shortcut icon" type="image/png" href="./favicon.png">
    <link rel="stylesheet" href="./web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./b/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/log.css">

  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-active">
        <div class="container">
          <a class="navbar-brand" href="home">
            <!-- <img src="./img/(pencil)_scaled_45.png" class="d-inline-block align-top" alt=""> -->
            <span>TEC Club</span>
          </a>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <div class="card login shadow-lg rounded">
            <h1 class="text-center text-muted"><i class="fa fa-exclamation-triangle text-warning"></i> Page Not Found</h1>
            <h1 class="text-center">You've landed on 404 page</h1>
            <h4 class="text-center">The page you're looking for doesn't exist, Try something else.</h4>
          </div>
        </div>
      </div>
    </div>

    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/umd/popper.min.js"></script>
    <script src="./bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
  </body>
</html>
