

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TEC Club• About</title>
    <link rel="shortcut icon" type="image/png" href="./favicon1.png">
    <link rel="stylesheet" href="./web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./b/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/media.css">
  </head>
  <body>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <img src="./img/icons8-blogger-filled-500(1).png" class="d-inline-block align-top" alt="">
        <span>TEC Club</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home"><i class="fa fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/announcement"><i class="fa fa-bullhorn"></i> Announcement <span class="badge badge-info"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chat"><i class="fa fa-envelope"></i> Chat</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about"><i class="fa fa-info-circle"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="fa fa-phone"></i> Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-cog"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/user"><i class="fa fa-user"></i> Profile</a>
                <a class="dropdown-item" href="/dashboard"><i class="fa fa-user-plus"></i>Super User</a>
                <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out-alt"></i> Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<!-- <%- include("partials/header"); -%> -->
<!-- <center><i id="read-more" class="fa fa-chevron-circle-down"></i></center> -->
<div class="about-container">
    <div class="container about">
        <div class="row">
          <div class="col-md-12">
    <img class="bg-img" src="img/blog-editing.jpg" alt="...">
    </div>
  </div>
</div>

<div class="container about">
  <div class="row">
    <div class="col-md-6">
        
      <div class="card">
        <h2><i class="fa fa-eye"></i> Vision</h2>
        <hr class="half">
        <p>There are currently over 52 members, supporting each other and learning to code two days each week</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h2><i class="fa fa-bullseye"></i> Missions</h2>
        <hr class="half">
        <ul class="mission">
          <li>
              To put a Code Club in every community in the college.
          </li>
          <br>
          <li>
              We inspire discovery and invention through play
          </li>
          <br>
          <li>
              We believe in the transformational power of programming
          </li>
          <br>
          <li>
              To do projects together
          </li>
          <br>
        </ul>
      </div>
    </div>
    <div class="col-md-12">
      <div class="section">
        <h1 class="text-center">About This Club</h1>
        <hr>
        <p>TEC club is a club organized in 2019 by 5th and 4th year voluntary students at Defence University College of Engineering .The club currently have around 52 members which are all students at the college. There are basically two streams that students participate ,take class and do projects together.</p>

        <p>
            The first stream is Web development its main concern is in technologies of web development. In this stream students firstly take class on basic concepts of web development programing to have a common understanding and since there are many ways that you can do projects on web development this class make the students to have a common path when they do projects and this in turn helps the student work in group.
            </p>

        <p>The second is stream is based on Arduino programming. In this stream as the first stream students take class on basic concepts which have the same aim as the first.In this stream there are  lot of students participate from different departments including CIT, Electronics, Electrical power.</p>

        <p>The main aim of this club is to fill the gap between what we are learning and what is actually appear in the work field. Secondly in our college when students do their final projects some of the departments do their project on this two streams so having some knowledge and knowing how to do projects together helps students to do a good and effective.</p>
      </div>
    </div>
  </div>
</div>  <!-- END OF CONTAINER -->
</div>

<%- include("partials/footer"); -%>