<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TEC Club • Contact</title>
    <link rel="shortcut icon" type="image/png" href="./favicon1.png">
    <link rel="stylesheet" href="./web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./b/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/media.css">
  </head>
  <body>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <img src="./img/icons8-blogger-filled-500(1).png" class="d-inline-block align-top" alt="">
        <span>TEC Club</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home"><i class="fa fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/announcement"><i class="fa fa-bullhorn"></i> Announcement <span class="badge badge-info"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chat"><i class="fa fa-envelope"></i> Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fa fa-info-circle"></i> About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contact"><i class="fa fa-phone"></i> Contact Us</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-cog"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/user"><i class="fa fa-user"></i> Profile</a>
                  <a class="dropdown-item" href="/dashboard"><i class="fa fa-user-plus"></i>Super User</a>
                  <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out-alt"></i> Logout</a>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- <%- include("partials/header"); -%> -->





<div class="contact-container">
<div class="container contact">
  <div class="row">
    <div class="col-md-4 hidden-md">
      <img src="./img/kinda--logo.png" alt="Logo" width="70%" class="img-rounded img-bordered">
      <h4>
        <span>TEC Club</span>
        <br>
        <% var i=0; %>
        <%  usc.forEach(function(us){ %>
          <% i++ %>
          
              <% }) %>
            
        <button type="button" class="btn btn-sm btn-default" name="button"><%= i%> Memebers</button>
      </h4>
      <hr>
      <p>Share this page on:</p>
      <div class="social">
        <a target="_blank" href="https://www.facebook.com"><img src="img/icon/facebook.png" alt="f"></a>
        <a target="_blank" href="https://www.twitter.com"><img src="img/icon/twitter.png" alt="t"></a>
        <a target="_blank" href="https://www.googleplus.com"><img src="img/icon/googleplus.png" alt="g"></a>
        <a target="_blank" href="https://www.pinterest.com"><img src="img/icon/pinterest.png" alt="p"></a>
      </div>
    </div>
    <div class="col-md-8">
    <div class="col-md-4 visible-sm">
        <img src="./img/kinda--logo.png" alt="Logo" width="100%" class="img-bordered">
        <h4>
            <span>TEC Club</span>
            <button type="button" class="btn btn-sm btn-info" name="button">Follow us on twitter</button>
            <button type="button" class="btn btn-sm btn-default" name="button">463 followers</button>
        </h4>
        <hr>
        <p>Share this page on:</p>
        <div class="social">
            <a target="_blank" href="https://www.facebook.com"><img src="img/icon/facebook.png" alt="f"></a>
            <a target="_blank" href="https://www.twitter.com"><img src="img/icon/twitter.png" alt="t"></a>
            <a target="_blank" href="https://www.googleplus.com"><img src="img/icon/googleplus.png" alt="g"></a>
            <a target="_blank" href="https://www.pinterest.com"><img src="img/icon/pinterest.png" alt="p"></a>
        </div>
    <hr>
    </div>
      <p id="contact-intro">DEC TEC Club was formed in 2019 to cater to the academic and social needs of students at Defence Engineering  College. Membership is extended to all active students.</p>
      <hr>
      <p><i class="fa fa-phone"></i> +251912345678</p>
      <p><i class="fa fa-phone-square"></i> +251912345678</p>
      <p><i class="fa fa-globe"></i> TECclub@gmail.com</p>
      <p><i class="fa fa-envelope"></i> 01453/3010 Bishoftu, Ethiopia</p>
      <p><i class="fa fa-map-marker"></i> Bishoftu,Defence University College of Engineering</p>
      <hr><br>
      <!-- <p class="text-center visible-md">Share this page on:</p>
      <div class="social text-center visible-md">
        <a target="_blank" href="https://www.facebook.com"><img src="img/icon/facebook.png" alt="f"></a>
        <a target="_blank" href="https://www.twitter.com"><img src="img/icon/twitter.png" alt="t"></a>
        <a target="_blank" href="https://www.googleplus.com"><img src="img/icon/googleplus.png" alt="g"></a>
        <a target="_blank" href="https://www.pinterest.com"><img src="img/icon/pinterest.png" alt="p"></a>
        <hr>
      </div> -->
      
    </div>
  </div>
</div>  <!-- END OF CONTAINER -->
</div>
<%- include("partials/footer"); -%>
