<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TEC• </title>
    <link rel="shortcut icon" type="image/png" href="./favicon1.png">
    <link rel="stylesheet" href="./web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./b/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/log.css">
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/media.css">

  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-active">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img src="./img/icons8-blogger-filled-500(1).png" class="d-inline-block align-top" alt="">
            <span>TEC club</span>
          </a>
        </div>
      </nav>
    </header>
   

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      
      <div class="card card-body text-center">
          <div class="col-md-9 hidden-md align-center">
              <img src="./img/kinda--logo.png" alt="Logo" width="70%" class="img-rounded img-bordered">
              </div>
        <h4>Create an account or login</h4>
        <a href="/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>
  <script src="./js/jquery-3.2.1.min.js"></script>
  <script src="./js/umd/popper.min.js"></script>
  <script src="./b/js/bootstrap.min.js"></script>
</body>
</html>
